Package: ruby-fog-dynect
Version: 0.0.2-1
Architecture: all
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Installed-Size: 70
Depends: ruby | ruby-interpreter, ruby-fog-core, ruby-fog-json, ruby-fog-xml
Section: ruby
Priority: optional
Homepage: http://github.com/fog/fog-dynect
Description: Module for the 'fog' gem to support Dynect DNS
 This library can be used as a module for `fog`
 or as standalone provider to use Dynect DNS
 in applications.
Ruby-Versions: all
